{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <h2>Bonjour, {{prof['prenom']}} {{prof['nom']}} !</h2>
    <div class="ui two columns grid">
        <div class="ui column">
            <h3>Vos cours</h3>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Sigle</th>
                        <th>Nom</th>
                        <th>Nombre de questions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cours in courses %}
                        <tr>
                            <td>{{cours['sigle']}}</td>
                            <td><a href="/question/cours/{{cours['id']}}">{{cours['name']}}</a></td>
                            <td>{{cours['nbr_questions']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="ui column">
            <h3>Mes statistiques</h3>
            <div id="rate" class="ui large progress">
                <div class="bar"></div>
                <div class="label">Taux de réussite moyen des questions: {{moyenne_reussite["average_reussite"]}} %</div>
            </div>
            <br />
            <h4>Taux de réeussite par questions</h4>
            {% for cours in courses %}
                <h5>{{cours["sigle"]}}</h5>
                {% for taux_reussite_question in taux_reussite_questions_cours[cours["sigle"]] %}
                    <div id="good" class="ui small progress">
                        <div class="bar"></div>
                        <div class="label">
                            {{taux_reussite_question[0]}} ({{taux_reussite_question[1]}} %)
                            <span class="{{taux_reussite_question[1]}}"></span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
