{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Statistiques</h2>
    {% for stat in stats %}
        <h3>{{stat[0]}}</h3>
        <table class="ui celled table">
            <thead>
                <tr>
                    {% for key in stat[1][0].keys() %}
                        <th>{{key}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in stat[1] %}
                    <tr>
                        {% for col in row %}
                            <td>{{row[col]}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
